<h1>Please Log In</h2>

  <form action="/login" method="post">
  <!-- collects for information and posts to /login -->
    <label>Username:</label>
    <input type="text" name="username">

    <br />

    <label>Password:</label>
    <input type="password" name="password">

    <br />

    <input type="submit" value="Log In">

    <br />
    <!-- link takes person to sign up if they do not want to log in -->
    <a href="/signup">Sign Up</a>
  </form>
