<h1>Add a Book to Your Collection</h1>

<form method="post" action="/books">
  <label>Book Title:</label>
  <input type="text" name="name">

  <br />

  <label>Book Author:</label>
  <input type="text" name="author">

  <br />

  <label>Genre:</label>
  <% @genres.each do |genre| %>
    <input type="radio" name="genre_id" value="<%= genre.id %>"><%= genre.name %></input>
  <% end %>

  <br />

  <input type="submit" value="Create a Book">
</form>
