<h1>Add a Book to Your Collection</h1>

<form method="post" action="/books/new">
  <label>Book Title:</label>
  <input type="text" name="name">

  <br />

  <label>Book Author:</label>
  <input type="text" name="author">

  <br />

  <label>Genre:</label>
  <input type="radio" 
</form>
